*{
    margin: 0;
    padding: 0;
}
.drawWidth{
    line-height: 0;
}
.emptyTile{
    background-color: transparent;
    height: 40px;
    width: 40px;
    display: inline-block;
}
.wallTile{
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block
}
#playerObject{
    background-color: blue;
    height: 40px;
    width: 40px;
    display: inline-block;
    position: absolute;
    left: 240px;
    top: 240px;
}
.playerConsumable1 {
    background-color: teal;
     height: 40px;
     width: 40px;
     display: inline-block;
}
.playerConsumable2 {
    background-color: green;
     height: 40px;
     width: 40px;
     display: inline-block;
}
